# --- Docker/System ---
.env
data/
__pycache__
budget_manager.code-workspace

# --- Airflow ---
airflow/logs/
airflow/plugins/
airflow/config/
airflow/airflow.db
airflow/webserver_config.py
airflow/standalone_admin_password.txt

# --- DBT ---
.user.yml

# --- MISC ---
git_history.txt
git_history_clean.txt
budget_manager_dir_tree.txt